section#about{
    header{
        clear: both;
        h2{ color: $orange; }
    }
    article.block{
        @include span-columns(6, $break-5);        
        @include opacity(0);
        margin-top: 45px;
        header{ margin: 25px 0 35px 0; }
        h3,h4{
            text-align: center;
            color: darken($blue,10%);
            text-transform: uppercase;
        }
        h3{ font-size: 2.2rem; }
        h4{
            font-size: 1.8rem;
            font-weight: 400;
        }
        p{
            color: $dark;
            font-size: 1.4rem;
            margin-bottom: 15px;
            font-weight: 300;
        }
        figure{
            img{
                max-width: 100%;
                display: block;
            }
        }  
        &:nth-child(even){ 
            img{ border-top: 10px solid $white; }            
        }
        &:nth-child(odd){            
            header{ margin-top: 25px; }
            img{ border-bottom: 10px solid $white; }
        }
        &:nth-child(1){
            @include span-columns(24 omega, $break-5);  
            @include opacity(1);
            margin-top: 0;           
            p{
                font-size: 1.8rem;
                margin-bottom: 25px;
                font-weight: 300;
            }
        }
        &:nth-child(2){ 
            @include background($blue); 
            @include animation(slide-in-left $default-animation-delay $outer-animation-duration forwards);
        }
        &:nth-child(3){ 
            @include background($orange);    
            @include animation(slide-in-left $default-animation-delay $inner-animation-duration forwards);
        }
        &:nth-child(4){ 
            @include background($dark);
            @include animation(slide-in-right $default-animation-delay $inner-animation-duration forwards);
        }
        &:nth-child(5){ 
            @include background($green); 
            @include animation(slide-in-right $default-animation-delay $outer-animation-duration forwards);
        }
        &:nth-child(2), &:nth-child(3),&:nth-child(4),&:nth-child(5){ 
            @include animation-play-state(paused);
            h4{ color: $white; }
            p{
                color: $white;
                padding: 10px;
            }
        }     
        &.animate:nth-child(2), &.animate:nth-child(3),&.animate:nth-child(4),&.animate:nth-child(5){ 
            @include animation-play-state(running);
        }
    }

    @include at-breakpoint($break-1){ article.block{ @include span-columns(6 omega, $break-1); } }
    @include at-breakpoint($break-2){ article.block{ @include span-columns(8 omega, $break-2); } }
    @include at-breakpoint($break-3){ 
        article.block{ 
            @include span-columns(7, $break-3); 
            &:nth-child(even){ @include omega; }
        }
    }
    @include at-breakpoint($break-4){ 
        article.block{ 
            @include span-columns(5, $break-4); 
            &:nth-child(even){ @include remove-omega; }
            &:nth-child(5){ @include omega; }
        }
    }
    @include at-breakpoint($break-5){ }
    @include at-breakpoint($break-6){ }

}