$blue: #009bc7;
$oliwe: #f5ecd9;
$green: #b4cc39;
$red: #e84d5b;
$dark: #3b3b3b;
$white: #fff;
$orange: #dd4814;
$default: $blue; // #fb4834 (orange) #009bc7 (blue) #007d7b (win98 default pulpit color)
$default-font-size: 62.5%;  // 10px
$default-line-height: 1.4;
$default-font-family: 'Open Sans', sans-serif;
$default-animation-delay: 0.3s;
$left-offset: -100px;
$right-offset: 100px;
$bottom-offset: 100px;
$outer-animation-duration: 1.2s;
$inner-animation-duration: 0.8s;